@if (!checkedBook) {
<h5>Cadastrar livro</h5>
} @else {
<h5>Editar livro</h5>
}
<!-- <button mat-flat-button (click)="getGenerateBook()">teste</button> -->

<!-- {{book | json}} -->

<form [formGroup]="bookForm" class="form-container">

  <mat-form-field appearance="outline" class="form-group title">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Título do Livro" formControlName="title">
  </mat-form-field>

  <div class="cover">
    <!-- <img src="caminho-para-capa.jpg" alt="Capa do Livro"> -->
    <input type="file" accept="image/*" (change)="onFileSelected($event)">
  </div>

  <mat-form-field appearance="outline" class="form-group description">
    <mat-label>Descrição</mat-label>
    <textarea placeholder="Descrição do Livro" matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group isbn">
    <mat-label>ISBN</mat-label>
    <input matInput placeholder="ISBN do Livro" formControlName="isbn">
    <div *ngIf="bookForm.controls['isbn'].invalid && bookForm.controls['isbn'].touched">
      <small *ngIf="bookForm.controls['isbn'].hasError('required')">ISBN é obrigatório.</small>
      <small *ngIf="bookForm.controls['isbn'].hasError('pattern')">ISBN inválido.</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group author">
    <mat-label>Autor</mat-label>
    <input matInput placeholder="Autor do Livro" formControlName="author">
    <div *ngIf="bookForm.controls['author'].invalid && bookForm.controls['author'].touched">
      <small *ngIf="bookForm.controls['author'].hasError('required')">Autor é obrigatório.</small>
      <small *ngIf="bookForm.controls['author'].hasError('minlength')">Mínimo de 3 caracteres.</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group publisher">
    <mat-label>Editora</mat-label>
    <input matInput placeholder="Editora do Livro" formControlName="publisher">
    <div *ngIf="bookForm.controls['publisher'].invalid && bookForm.controls['publisher'].touched">
      <small *ngIf="bookForm.controls['publisher'].hasError('required')">Editora é obrigatória.</small>
      <small *ngIf="bookForm.controls['publisher'].hasError('minlength')">Mínimo de 3 caracteres.</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group genre">
    <mat-label>Gênero</mat-label>
    <input matInput placeholder="Gênero do Livro" type="number" formControlName="genre">
    <div *ngIf="bookForm.controls['genre'].invalid && bookForm.controls['genre'].touched">
      <small *ngIf="bookForm.controls['genre'].hasError('required')">Gênero é obrigatório.</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group year">
    <mat-label>Ano de Publicação</mat-label>
    <input matInput type="number" placeholder="Ano de Publicação do Livro" formControlName="yearOfPublication">
    <div *ngIf="bookForm.controls['yearOfPublication'].invalid && bookForm.controls['yearOfPublication'].touched">
      <small *ngIf="bookForm.controls['yearOfPublication'].hasError('required')">Ano de publicação é
        obrigatório.</small>
      <small *ngIf="bookForm.controls['yearOfPublication'].hasError('min')">Ano inválido.</small>
      <small *ngIf="bookForm.controls['yearOfPublication'].hasError('max')">Ano inválido.</small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-group pages">
    <mat-label>Número de Páginas</mat-label>
    <input matInput type="number" placeholder="Número de páginas" formControlName="numberOfPages">
    <div *ngIf="bookForm.controls['numberOfPages'].invalid && bookForm.controls['numberOfPages'].touched">
      <small *ngIf="bookForm.controls['numberOfPages'].hasError('required')">Número de páginas é obrigatório.</small>
      <small *ngIf="bookForm.controls['numberOfPages'].hasError('min')">Número de páginas deve ser maior que 0.</small>
    </div>
  </mat-form-field>
</form>

<div class="fx-b">
  @if (!checkedBook) {
  <button mat-stroked-button type="submit" (click)="onSubmit()" [disabled]="bookForm.invalid">Salvar</button>
  } @else {
  <button mat-stroked-button type="submit" (click)="onSubmit()" [disabled]="bookForm.invalid">Editar</button>
  }
  <button mat-flat-button (click)="goToBook()">Cancelar</button>
</div>
